.DS_Store
*.pyc
my.cnf
*.ipr
*.iws
*.iml
target/
atlassian-ide-plugin.xml
*/.idea/
.idea/
dump.rdb
*.out
web/apps/web_copo/uiconfigs/ena/uimodels/ena_copo_template.json
web/project_copo/settings/settings_dev.py
