.add_data_button {
    margin-top: 30px;
}

.add_many_button {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#bottom_button_group {
    margin: 40px 40px 0 0;
}

.spinner {
    background-image: url("/static/copo/img/flower.png");
    margin: 0;
    padding: 0;
}

.type_remove i,
.study_type_remove i {
    color: darkred;
    font-size: 0.8em;
}

.type_add i,
#study_type_add i {
    color: darkgreen;
    font-size: 1.0em;
}

table, td {
    color: darkgrey;
}

.grey-bg {
    background-color: #f5f5f5 !important;
    border-color: #dddddd !important;
}

.two-column-study-container {
    width: inherit;
    margin: auto;
}

.study-column-one {
    width: 60%;
    float: left;
}

.study-column-two {
    width: 40%;
    float: left;
}

.study-column-clear {
    clear: both;
}

.study-tree-info-data {
    /*background-color: #d9edf7;*/
    border-color: #bce8f1;
    color: #31708f;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 15px;
    position: relative;
}

.study-tree-data-list {
    background-color: #ddd;
    border-color: #bce8f1;
    color: #000;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 5px 15px;
    position: relative;
}

.study_tree_state_indicator {
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    width: inherit;
    padding: 5px 15px;
    vertical-align: middle;
}

.study-select-status{
    background-color: #449d44;
    border: 1px solid #ddd;
    border-right: 0px none;
    height: 50px;
    width: 10px;
    float: left;
    margin-bottom: -1px;
}

.study-node-data{
    margin-left: 10px;
    height: 50px;
    background-color: #fff;
    overflow-y: scroll;
    color: #31708f;
    border: 1px solid #ddd;
    border-left: 0px none;
    padding: 15px;
    position: relative;
    margin-bottom: -1px;
}

.study-tree-info-data-selected{
    margin-left: 10px;
    height: 50px;
    background-color: #ffe48d;
    overflow-y: scroll;
    color: #333;
    border: 1px solid transparent;
    border-left: 0px none;
    padding: 15px;
    position: relative;
    margin-bottom: -1px;
}

