.add_data_button {
    margin-top: 30px;
}

.add_many_button {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#bottom_button_group {
    margin: 40px 40px 0 0;
}

.spinner {
    background-image: url("/static/copo/img/flower.png");
    margin: 0;
    padding: 0;
}

table, td {
    color: darkgrey;
}

.grey-bg {
    background-color: #f5f5f5 !important;
    border-color: #dddddd !important;
}

.two-column-study-container {
    width: inherit;
    margin: auto;
}

.study-column-one {
    width: 60%;
    float: left;
}

.study-column-two {
    width: 40%;
    float: left;
}

.study-column-clear {
    clear: both;
}

.study-select-status {
    background-color: #449d44;
    border: 1px solid #449d44;
    border-right: 0px none;
    height: 60px;
    width: 10px;
    float: left;
    margin-bottom: -1px;
}

.study-view-select-status {
    background-color: #ffe48d;
    border: 1px solid #ffe48d;
    border-right: 0px none;
    height: 60px;
    width: 10px;
    float: left;
    margin-bottom: -1px;
}

.study-list-data-status {
    background-color: #449d44;
    border: 1px solid #449d44;
    border-right: 0px none;
    height: 60px;
    width: 10px;
    float: left;
    margin-bottom: -1px;
}

.study-node-data {
    margin-left: 10px;
    height: 60px;
    background-color: #fff;
    overflow-y: scroll;
    color: #31708f;
    border: 1px solid #ddd;
    border-left: 0px none;
    padding: 15px;
    position: relative;
    margin-bottom: -1px;
}

/*for composite study data labels*/
.study-list-select-status {
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: 0px none;
    height: 30px;
    width: 10px;
    float: left;
    margin-bottom: -1px;
}

.study-list-status {
    background-color: #D4D4CA;
    border: 1px solid #ddd;
    border-right: 0px none;
    height: 30px;
    width: 10px;
    float: left;
    margin-bottom: -1px;
}

.study-node-list-data {
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    background-color: #EBEBE0;
    color: #000;
    border: 1px solid #ddd;
    border-left: 0px none;
    padding-left: 15px;
    position: relative;
    margin-bottom: -1px;
}

.study-tree-info-data-selected {
    margin-left: 10px;
    height: 60px;
    background-color: #ffe48d;
    overflow-y: scroll;
    color: #333;
    border: 1px solid #ddd;
    border-left: 0px none;
    padding: 15px;
    position: relative;
    margin-bottom: -1px;
    font-style: italic;
}

table.fixed-study-tree {
    table-layout: fixed;
}

table.fixed-study-tree td {
    overflow: scroll;
}

div#study_tree_table {
    max-height: 700px;
    overflow: scroll;
}

span.study-node-title {
    font-weight: bold;
    color: #163657;
}

.row-delete-higlight {
    background-image: linear-gradient(to bottom, #a94442 0%, #a94442 100%);
    background-repeat: repeat-x;
    border-color: #a94442;
}

.row-delete-higlight td {
    color: white !important;
}

.check-pointer {
    cursor: pointer;
}

div.study-component-table-div {
    width: inherit !important;
    overflow: scroll;
}




