
body {

    font-family: 'Quattrocento Sans', sans-serif;

}

.container {
    width: 100%;
}

div[class^="col-"], div[class*=" col-"] {
/ / border : 1 px solid black;
}

.row {
/ / border : 1 px solid black;
}

/*HEADER CSS*/

h1 {
    font-size: x-large;
}

.h2 {
    font-family: 'Quattrocento Sans', sans-serif;

    color: #163657;
}

.h2 small {
    color: #163657
}

.h3 {
    color: #163657;
    font-family: 'Quattrocento Sans', sans-serif;

}

#sidebar {
    margin-left: 30px;
    width: 150px;
}

#sidebar ul {

    margin-top: 60px;

}

#sidebar li {
    margin-bottom: 10px;
}

#sidebar ul li .icon_text {
    margin-left: 10px;
}

#browse_header {
    margin-top: 60px;
}

#browse_header_left {
    margin-top: 30px;
    float: left;
}

#search_bar {
    float: left;
}

.work_area {
    margin-top: 30px;
    margin-right: 50px;
}

.nav-pills > li.active > a {
    background-color: #1B2B32;
}

.nav-pills > li.active > a:hover {
    background-color: #1B2B32;
}

.nav-pills > li > a {
    color: #1B2B32;
}

/* ICON CSS */
.blue_icon {
    float: left;
    color: #163657;
    margin-right: 20px;
    margin-top: 5px;
}

.blue_icon > a {
    color: #163657;
}

.blue_icon > a:hover {
    color: grey;
}

.panel-heading {
    padding: 8px 15px;
}

.btn {
    border-radius: 4px
}

/* REPOSITORY CONTROLS CSS */
#repo-feedback-cnt-1 {
    display: none;
}

#repo-alert-cnt-1 {
    display: none;
}

.spacer {
    margin-right: 20px; /* define margin as you see fit */
}

.vert-align {
    float: none;
    display: inline-block;
    vertical-align: middle;

}

.login_box {
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
    width: 300px;
}

.serif {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

.bolder {
    font-weight: bold;
}

.copo-modal2 > .modal-dialog {
    width: 90% !important;
    height: 90% !important;
    overflow: scroll !important;
}

.input-copo {
    height: 30px !important;
}

.breadcrumb {
    margin: 0 !important;
    background-color: whitesmoke;

}

/* Overriding some properties of Popover */

.copo-wizard-message-label {
    font-weight: bold;
    color: #163657;
}

.copo-icon-danger {
    color: #c12e2a;
    text-shadow: 1px 1px 1px #ccc;
}

.copo-icon-success {
    color: #419641;
    text-shadow: 1px 1px 1px #ccc;
}

.copo-icon-primary {
    color: #265a88;
    text-shadow: 1px 1px 1px #ccc;
}

.copo-icon-info {
    color: #2aabd2;
    /*text-shadow: 1px 1px 1px #ccc;*/
}

/*test pop*/

/* CUSTOM POPOVERS */

.popover1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    min-width: 250px;
    padding: 1px;
    text-align: left;
    white-space: nowrap;
    background-color: #fff !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    color: #1b2b32;
    font-size: 12px;
}

.popover1-title {
    padding: 7px 9px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-align: left;
    color: #1b2b32;
    background-color: #D4E4ED;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.popover1.left {
    margin-left: -10px;
}

.popover1 > .arrow,
.popover1 > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover1 > .arrow {
    border-width: 11px;
}

.popover1 > .arrow:after {
    content: "";
    border-width: 10px;
}

.popover1.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25);
}

.popover1.left > .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #ebebeb;
}

/* END CUSTOM POPOVERS*/

/*div table */
.Tablex {
    display: table;
}

.Headingx {
    display: table-row;
    font-weight: bold;
    /*text-align: left;*/
}

.Rowx {
    display: table-row;
}

.Cellx {
    display: table-cell;
    /*border: dotted;*/
    border-width: 0.1em;
    padding-left: 5px;
    padding-right: 5px;
}

/*div table end*/


/*customising Bootstrap badge*/
.label-as-badge {
    border-radius: 1em;
}

