
body{

        font-family: 'Quattrocento Sans', sans-serif;

}

.container {
    width: 100%;
}

div[class^="col-"], div[class*=" col-"] {
    //border: 1px solid black;
}
.row{
	//border: 1px solid black;
}


/*HEADER CSS*/

h1{
    font-size: x-large;
}

.h2 {
    font-family: 'Quattrocento Sans', sans-serif;

    color: #163657;
}

.h2 small {
    color: #163657
}

.h3 {
    color: #163657;
    font-family: 'Quattrocento Sans', sans-serif;

}

#sidebar{
	margin-left:30px;
	width:150px;
}

#sidebar ul{

	margin-top:60px;

}
#sidebar li{
	margin-bottom:10px;
}
#sidebar ul li .icon_text{
	margin-left:10px;
}
#browse_header{
	margin-top:60px;
}
#browse_header_left{
	margin-top:30px;
	float:left;
}
#search_bar{
	float:left;
}

.work_area{
    margin-top:30px;
    margin-right:50px;
}


.nav-pills > li.active > a {
    background-color:#1B2B32;
}

.nav-pills>li.active>a:hover {
    background-color:#1B2B32;
}

.nav-pills > li > a {
    color:#1B2B32;
}

/* ICON CSS */
.blue_icon{
	float:left;
	color:#163657;
	margin-right:20px;
	margin-top:5px;
}
.blue_icon>a{
    color:#163657;
}

.blue_icon > a:hover {
    color: grey;
}
.panel-heading{
    padding: 8px 15px;
}
.btn {
    border-radius: 4px
}

/* REPOSITORY CONTROLS CSS */
#repo-feedback-cnt-1 {
    display: none;
}

#repo-alert-cnt-1 {
    display: none;
}

.spacer {
    margin-right: 20px; /* define margin as you see fit */
}

.vert-align{
	float: none;
    display: inline-block;
    vertical-align: middle;

}

.login_box {
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
    width: 300px;
}

.serif{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

.bolder{
    font-weight: bold;
}

.copo-modal2 > .modal-dialog {
    width:1000px !important;
}

.input-copo{
    height: 30px !important;
}

.breadcrumb{
    margin:0 !important;
    background-color: whitesmoke;

}
